html, body {
	margin: 0;
	padding: 0;
	color: #888;
	background-color: white;
	height: 100%;
	width: 100%;
	font-family: 'Source Sans Pro';
}

.container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.armadillogo {
	display: block;
}

.dillinfo {
	text-align: center;
	width: 100%;
	max-width: 600px;
}

.lead {
	display: block;
	font-size: 1.6em;
	margin: 30px auto;
}

.cta {
	margin: 60px auto 20px auto;
	width: 100%;
	display: flex;
	justify-content: space-around;
}

.button {
	font-size: 1.6em;
	color: rgba(231, 60, 75, 1);
	background-color: transparent;
	border: 2px solid rgba(231, 60, 75, .6);
	border-radius: 50px;
	padding: 5px 30px;
	min-width: 150px;
	cursor: pointer;
	text-decoration: none;
	transition: background-color .2s ease-in-out;
}

.button:hover {
	background-color: rgba(231, 60, 75, 1);
	border-color: rgba(231, 60, 75, 1);
	color: white;
}

.thedudes {
	margin: 40px auto 0 auto;
	font-size: .8em;
}

.thedudes a {
	text-decoration: none;
	color: rgba(0,0,0,.7);
}

.thedudes a:hover {
	color: #444;
}


@media (max-width:720px){
	.armadillogo {
		display: block;
		width: 70%;
		margin: 0 auto;
	}
	.lead {
		display: block;
		width: 70%;
		margin: 20px auto 0 auto;
	}
	.cta {
		flex-direction: column;
		margin: 30px auto 0 auto;
	}
	.button {
		margin: 10px auto;
		font-size: 1.3em;
	}
	.thedudes {
		align-self: baseline;
		margin: 10px auto 0 auto;
		padding: 0;
	}
}

@media screen and (orientation: landscape) and (max-device-width: 736px) {
	.container {
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}
	.armadillogo {
		display: block;
		width: 100%;
		float: left;
	}
	.dillinfo {
		display: block;
		width: 100%;
		float: right;
	}
	.lead {
		font-size: 1.3em;
		width: 100%;
	}
	.button {
		margin: 5px auto;
		font-size: 1.1em;
	}
	.thedudes {
		display: none;
	}
}

